.success-msg {
  color: green;
  padding: 10px 15px;
}

.danger-msg {
  color: red;
  padding: 10px 15px;

}



.safariZone {
  background-image: url('./Assets/projectOne.png') !important;
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: scale-down;
  /* opacity: 60%; */

  outline: 5px solid white;
  outline-offset: -10px;
}
.animeArchive {
  background-image: url('./Assets/projectTwo.png') !important;
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
  /* opacity: 60%; */

  outline: 5px solid white;
  outline-offset: -10px;
}

.projCard {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 15px;
  padding-bottom: px;
}

.cardPadding {
  padding: 15px
}
